.button {
    margin-top: $margin-double;
    border: none;
    font-weight: bold;
    font-size: $font-big;
    padding: 10px 20px;
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
    box-shadow: 2px 0 2px 2px rgba(0, 0, 0, 0.05);
    border-radius: 15px;


    &:disabled &__title {
        opacity: 0.5;
    }

    &__title {
        color: $black;
    }
}
