.container {

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    @media (max-width: 500px) {
        display: block;
        margin: auto;
    }
    &__left {
        width: 75%;
    }
    &__right {
        width: 25%;
        margin-left: 50px;
    }
    &__title {
        font-size: 18px;
        margin-top: 60px;
    }

}
