.form {
    &__title {
        text-align: center;
    }
    &__wrapper {
        margin-top: $margin;
        display: flex;
        @media (max-width: 500px) {
            display: block;
            width: 100%;
        }

    }
    &__input {
        border: 1px solid rgba(124, 124, 124, 0.5);
        box-shadow: inset 0 5px 3px -5px #333;
        padding: 5px;
        height: 40px;
        box-sizing: border-box;
        width: 70%;
        font-size: $font-middle;
        &--checkbox {
            margin: 0;
        }
        @media (max-width: 500px) {
            width: 100%;
        }
    }
    &__wrp {
        background: linear-gradient(to bottom, #e6cccb 5%, #fee9e8 15%, #ffe8e8 70%);
        position: relative;
    }
    &__bottom {
        background: linear-gradient(to bottom, #d7cad8 10%, #a8b2cd 100%);
        margin: auto;
        padding: 30px 20px;
    }
    &__description {
        margin-top: $margin;
        position: relative;
        background: #ffdddd;
    }
    &__top {
        border: none;
        padding: 30px 20px;
    }
    &__attribute {
        width: 30%;
        line-height: 40px;
        &--hidden {
            display: none;
        }
        @media (max-width: 500px) {
            width: 100%;
        }
    }
    &__value {
        width: 70%;
        position: relative;
        @media (max-width: 500px) {
            width: 100%;
        }



        &-wrap {
            position: relative;
        }
    }
    &__large-block{
        padding: 10px 10px;
        width: 70%;
        margin-left: -10px;
        @media (max-width: 500px) {
            width: 100%;
        }
    }
    &__age {
        background: $yellow;
        display: none;
        position: relative;
    }
    &__date-selects {
        background: $yellow;
        padding: 5px 10px;
        width: 70%;
        margin-bottom: 2px;
        margin-left: -10px;
        &--yellow {
            background: transparent;
        }
    }
    &__label {
        width: 80%;
    }
}



