body {


    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    @media (max-width: 1140px) {
        font-size: 28px;
    }
    @media (max-width: 1000px) {
        font-size: 22px;
    }

}
h3 {
    font-size: $font-big;
    font-weight: bold;

}
input, select {
    border: 1px solid $grey;
    &:active, &:hover, &:focus {
        outline: 0;
        outline-offset: 0;
    }
    &#email:invalid {
        color: red;
    }
}
select {
    height: 25px;
    margin-top: 10px ;

}
::-webkit-input-placeholder {color:#000000;opacity: 0.3;font-size:18px}
::-moz-placeholder          {color:#000000;opacity: 0.3;font-size: 18px}/* Firefox 19+ */
:-moz-placeholder           {color:#000000;opacity: 0.3;font-size: 18px}/* Firefox 18- */
:-ms-input-placeholder      {color:#000000; opacity: 0.3;font-size: 18px}
