body {
    max-width: 1140px;
    margin:100px auto;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}
h3 {
    font-size: $font-big;
    font-weight: bold;

}
input, select {

    &:active, &:hover, &:focus {
        outline: 0;
        outline-offset: 0;
    }
    &:invalid {
        color: red;
    }
}
select {
    height: 25px;

}
::-webkit-input-placeholder {color:#000000;opacity: 0.3;font-size:18px}
::-moz-placeholder          {color:#000000;opacity: 0.3;font-size: 18px}/* Firefox 19+ */
:-moz-placeholder           {color:#000000;opacity: 0.3;font-size: 18px}/* Firefox 18- */
:-ms-input-placeholder      {color:#000000; opacity: 0.3;font-size: 18px}
